body {
  font-family: 'Papyrus', Fantasy;
  background-color: #0057AD;
  color: #FBDA0C;
}

ul{
	list-style-type: none;  
}

nav,ul,li{
	text-align: center;
	float: none;
	display: inline;
}

nav,a {
	font-size: 30px;
	color: #8fd9fb;
	background-color: #ffed29;
	text-align: center;
	border-radius: 10px;
	text-decoration: none;
	padding: 20px;
}

a:hover{
	color: #cd1c18;
}

section {
	margin: 30px;
	border-style: ridge;
	border-color: #FBDA0C;
	border-width: 30px;
	padding: 20px;
	color: #FFFFFF;
}

h1 {
	font-size: 80px;
	text-align: center;
}

h2 {
	font-size: 40px;
	text-align: left;
}

p {
	font-size: 20px;
	text-align: left;
}