body {
  font-family: "Chakra Petch", sans-serif;
}

.resume {
	background-color: #0057AD;
  color: #FBDA0C;
}

#resumelink:hover{
	background-color: #0057AD;
  color: #FBDA0C;
}

.like {
	background-color: #C7C4BF;
  color: black;
}

#likelink:hover{
	background-color: #C7C4BF;
  color: black;
}

.dislike {
	background-color: black;
  color: white;
}

#dislikelink:hover{
	background-color: black;
  color: white;
}

nav{
	text-align: center;
}

nav ul{
	display: inline-block;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav ul li{
	float: left;
	margin: 6em;
}

nav ul li a {
	display: block;
	text-decoration: none;
	font-size: 2rem;
	padding: 1em;
	border: 0.1em solid;
	border-radius: 3em
}

section {
	margin: 1.5em;
	border-style: ridge;
	border-color: #FBDA0C;
	border-width: 2em;
	padding: 1em;
	color: #white;
}

.likesect {
	margin: 1.5em;
	border-style: ridge;
	border-color: #FBDA0C;
	border-width: 2em;
	padding: 1em;
	color: #black;
}

h1 {
	font-size: 4em;
	text-align: center;
}

h2 {
	font-size: 2.5em;
	text-align: left;
	font-style: italic;
}

p {
	font-size: 1em;
	text-align: left;
	
}

ul {
	font-size: 1.5em;
	text-align: left;
}

img {
	width: 49%;
	height: auto;
}