body {
  font-family: 'Papyrus', Fantasy;
  background-color: #0057AD;
  color: #FBDA0C;
}

nav {
	font-size: 50px;
}

section {
	margin: 30px;
	border-style: ridge;
	border-color: #FBDA0C;
	border-width: 100px;
	padding: 20px;
	color: #FFFFFF;
}